 body{
    text-align: center;
    background-color: #f7dddd;
}
/*
#btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}

#btn-container {
    display: flex;
    justify-content: center;
} */

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: fit-content;
}
.line-one, .line-two {
    display: flex;
    gap: 10px;
}
.btn {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(6, 149, 237);
}

.red { 
    background-color: #FF6B6B;
}
.green { 
    background-color: #4ECDC4; 
}
.yellow {
     background-color: #eacf48; 
}
.purple {
     background-color: #7cc0b3; 
}
.flash {
    background-color: white;
}
.userFlash {
    background-color: green;
}